
.main-container {
    display: flex;
    padding: 100px;
 }

.text-container {
		display: flex;
		flex-direction: column;
		width: 50%;
}

.image-container {
	display: flex;
	width: 50%;
}

.image1 {
	position: absolute;
	left: 62.05px;
	top: 230.23px;
	transform: rotate(-3.6deg);
}

.image2 {
	position: absolute;
	left: 146.88px;
	top: 366.07px;
	transform: rotate(7.68deg);
}

.image3 {
	position: absolute;
	left: 204.49px;
	top: 275.62px;
	transform: rotate(1.61deg);
}

.image4 {
	position: absolute;
	left: 303.13px;
	top: 194px;
	transform: rotate(3.13deg);
}

.text-container {
	text-align: center;
}

.button-container {
	background-color: pink;
	width: 10rem;
	height: 3rem;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
}

a {
	align-self: center;
}