@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.mainContainerHome {
  display: flex;
	padding: 100px;
	flex-direction: row;
 }

.textContainer {
		display: flex;
		flex-direction: column;
		width: 40%;
}

.textTitle {
	/* font-family: 'Libre Baskerville', serif; */
	font-family: 'Milonga', cursive;
	font-size: 30px;
}

.textDescription {
	font-family: 'Jost', sans-serif;
	font-size: 20px;
}

.imageContainer {
	display: flex;
	width: 50%;
}

.image1 {
	position: absolute;
	left: 62.05px;
	top: 230.23px;
	transform: rotate(-3.6deg);
}

.image2 {
	position: absolute;
	left: 146.88px;
	top: 366.07px;
	transform: rotate(7.68deg);
}

.image3 {
	position: absolute;
	left: 204.49px;
	top: 275.62px;
	transform: rotate(1.61deg);
}

.image4 {
	position: absolute;
	left: 303.13px;
	top: 194px;
	transform: rotate(3.13deg);
}

.textContainer {
	text-align: center;
}

.buttonContainer {
	margin-top: 10px;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 147px;
	height: 34px;
	left: 945px;
	top: 496px;
	background: #CBABE3;
	border-radius: 60px;
	font-family: 'Jost', sans-serif;
	font-size: 18px;
}

.linkHome {
	color: white;
}

a {
	align-self: center;
}
