@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


/* font-family: 'Milonga', cursive;
font-family: 'Jost', sans-serif; */

.mainContainerFront {
  /* display: flex;
  flex-direction: row; */
}

.mainContainerBack {
  display: flex;
  flex-direction: row;
}

.cardsContainer {
  /* display: flex; */
  /* margin: auto; */
  text-align: center;
}

.buttonActive {
  /* position: absolute; */
  width: 160px;
  height: 40px;
  /* left: 494.35px;
  top: 467.63px; */
  background: #583976;
  border-radius: 60px;
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: 'Jost', sans-serif;
  display: flex;
  justify-content: center;
}

.buttonInactive {
  display: none;
}


.backSideContainer {
  /* width: 80%; */
}

.card {
  width: 221px;
  height: 321px;
  left: 180.63px;
  top: 234.6px;
  margin: 26px

}

#one{
  transform: rotate(-6.07deg);
}

#two {
  transform: rotate(2.48deg);
}

#three {
  transform: rotate(-1.96deg);
}

.cardSelectedContainer {
  /* padding: 0% 8% 5% 8%; */
  /* margin-top: 40px; */
}

.containerTitle {
  /* background-color: #CBABE3; */
  /* width: 300px; */
}

.pickACard {
  /* color: #F2EE39; */
  color: #CBABE3;
  font-family: 'Milonga', cursive;
  font-size: 26px;
  text-align: center;
}