
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');


/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Milonga', cursive; */


.mainContainerCard{
  display: flex;
}

.cardSelected {
  /* position: absolute; */
  width: 250px;
  height: 364px;
  left: 60px;
  top: 198.65px;
  transform: rotate(-5.03deg);
}

.cardContainer {
  width: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  width: 40%;
  text-align: center;
  top: 30%;
  right: 10%;
  /* background-color: #F2EE39; */
  /* padding: 10px; */
}

.textTitleCard {
  font-family: 'Milonga', cursive;
  color: #583976;
  /* background-color: #F2EE39; */
}

.textDescriptionCard {
  font-family: 'Jost', sans-serif;
  color: #333333;
}



/* @media screen and (max-width: 475px) { */

  /* .mainContainer {
    display: flex;
  } */
/* } */