@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Jost', sans-serif; */
  /* font-family: 'Milonga', cursive; */


.mainContainerAllCards {
	display: flex;
	flex-direction: column;
	margin: 3%;
}

.buttonCardsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.par {
	display: flex;
	flex-direction: row-reverse;
}

.impar {
	display: flex;
}

.par .imageCards {
	transform: rotate(2.39deg);
	/* animation: 4s linear 0s infinite MoveUpDown; */
}

.impar .imageCards {
	/* transform: rotate(-3.09deg); */
	transform: rotate(-2.95deg);
}


.textContainer {
	display: flex;
	justify-content: center;
	margin: 5%;
}

.imageCards {
	animation: MoveCard 9s;
	animation-iteration-count: infinite;
	width: 300px;
	height: 430px;
}

.cardName {
	font-family: 'Milonga', cursive;
	font-size: 26px;
	color: #583976;
}

.cardDescription {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	color: #333333;
}

@keyframes MoveCard {
	0% { transform: translateY(0px) rotate(0deg); }
	20% { transform: translateY(20px) rotate(-1deg); }
	40% { transform: translateY(40px) rotate(2deg); }
	60% { transform: translateY(60px) rotate(3deg); }
	80% { transform: translateY(40px) rotate(-3deg); }
	100% { transform: translateY(0px) rotate(2deg); }
}
