
@import './mixins/mixins';
@import './global/variables';


@import './pages/shuffle';
@import './pages/homePage';
@import './pages/aboutMe';
@import './pages/allDetailCards';
@import './pages/donate';
@import './components/card';
@import './components/button';
@import './components/app.scss';
@import './components//wrapper.scss';
@import './pages/allCollection.scss';
