

$background-colour: #DADADA;
$main-black: #000;
$white: #FFF;
$purple: #744E99;
$violet: #CBABE3;
$blue: #58E4F6;
$yellow: #D6AE3A;
$orange: #F79036;
$grey: #E3E3E3;
$text-colour1: #333333;
$text-colour2: #583976;
$background: #F5EEF9;

$text-font: 'Jost', sans-serif;
$text-font2: 'EB Garamond', serif;
