


.aboutMeMainContainer {
  height: 90vh;
  padding: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $background;
  .leftContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
    .imageAboutMeContainer {
      width: 246px;
      height: 246px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .imageAboutMe {
        width: 209px;
        height: 209px;
        border-radius: 50%;
      }
    }
    .socialAboutMe {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 209px;
      margin: auto;
      margin-top: 31px;
      .socialAboutMeIcon {
        width: 32px;
        height: 42px;
      }
    }
  }
  .textAboutMe {
    display: flex;
    flex-direction: column;
    width: 562px;
    .myName {
      color: $purple;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      font-family: $text-font;
    }
    .presentation {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    .presentationTwo {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
  }
}


@include respond(phone) { 
  .aboutMeMainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $background;
    margin-top: 10px;
    .leftContainer {
      margin-right: 0px;
      margin-top: -40px;
      background-color: $background;
      .imageAboutMeContainer {
        .imageAboutMe {

        }
      }
      .socialAboutMe {
        a {
          .socialAboutMeIcon {

          }
        }
      }
    }
    .textAboutMe {
      width: 261px;
      text-align: center;
      padding-bottom: 100px;
      margin-top: 25px;
      .myName {
        font-size: 20px;
      }
      .presentation {
        font-size: 14px;
      }
      .presentationTwo {
        font-size: 14px;
      }
    }
  }
}


@include respond(tabletmini) { 
  .aboutMeMainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $background;
    margin-top: 10px;
    .leftContainer {
      margin-right: 0px;
      margin-top: -40px;
      background-color: $background;
      .imageAboutMeContainer {
        .imageAboutMe {

        }
      }
      .socialAboutMe {
        a {
          .socialAboutMeIcon {

          }
        }
      }
    }
    .textAboutMe {
      width: 261px;
      text-align: center;
      padding-bottom: 100px;
      margin-top: 25px;
      .myName {
        font-size: 20px;
      }
      .presentation {
        font-size: 14px;
      }
      .presentationTwo {
        font-size: 14px;
      }
    }
  }
}


@include respond(tablet) { 
  .aboutMeMainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $background;
    margin-top: 10px;
    .leftContainer {
      margin-right: 0px;
      margin-top: -40px;
      background-color: $background;
      .imageAboutMeContainer {
        .imageAboutMe {

        }
      }
      .socialAboutMe {
        a {
          .socialAboutMeIcon {

          }
        }
      }
    }
    .textAboutMe {
      width: 560px;
      text-align: center;
      padding-bottom: 100px;
      margin-top: 25px;
      .myName {
        font-size: 22px;
      }
      .presentation {
        font-size: 16px;
      }
      .presentationTwo {
        font-size: 16px;
      }
    }
  }
}



