.mainContainerAllCards {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #E3E3E3;
	.allDetailTextContainer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 63px;
		.textTitleCards {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 35px;
			color: $yellow;
		}
	}
	.buttonActiveOptions {
		display: flex;
		flex-wrap: wrap;
		width: 1100px;
		margin: auto;
		margin-bottom: 40px;

	}
	.viewAllCollectionTextContainer {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		.viewAllCollectionText {
			color: $purple;
			text-decoration: none;
		}
	}
	.allCardsContainer {
		padding-top: 80px;
		background-color: $background;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 200px;
		.par {
			display: flex;
			flex-direction: row-reverse;
			width: 1100px;
			margin: auto;
			margin-top: 80px;
			.textContainer {
				display: flex;
				justify-content: center;
				width: 600px;
				flex-direction: column;
				text-align: right;
				margin-right: 80px;
				.cardTitleName {
					color: $purple;
					font-style: normal;
					font-weight: bold;
					font-size: 26px;
					line-height: 29px;
					font-family: $text-font2;
				}
				.cardDescription {
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 28px;
					display: flex;
					align-items: center;
					font-size: $text-font;
					color: $text-font;
				}
			}
		}
		
		.impar {
			display: flex;
			margin-top: 80px;
			width: 1100px;
			margin: auto;
			margin-top: 80px;
			.textContainer {
				display: flex;
				justify-content: center;
				width: 600px;
				flex-direction: column;
				text-align: left;
				margin-left: 80px;
				.cardTitleName {
					color: $purple;
					font-style: normal;
					font-weight: bold;
					font-size: 26px;
					line-height: 29px;
					font-family: $text-font2;
				}
				.cardDescription {
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 28px;
					display: flex;
					align-items: center;
					font-size: $text-font;
					color: $text-font;
				}
			}	
		}
		
		.par .imageCards {
			transform: rotate(2.39deg);
			box-shadow: 20px 20px 30px rgba(212, 212, 212, 0.8);

		}
		
		.impar .imageCards {
			transform: rotate(-2.95deg);
			box-shadow: 20px 20px 30px rgba(212, 212, 212, 0.8);

		}	
	}
}


.imageCards {
	animation: MoveCard 9s;
	animation-iteration-count: infinite;
	width: 300px;
	height: 430px;
}

@keyframes MoveCard {
	0% { transform: translateY(0px) rotate(0deg); }
	40% { transform: translateY(40px) rotate(0.5deg); }
	100% { transform: translateY(0px) rotate(0deg); }
}


@include respond(phone) { 
	.mainContainerAllCards {
		.allDetailTextContainer {
			.textTitleCards {

			}
		}
		.buttonActiveOptions {
			width: 100vw;
			display: flex;
			justify-content: center;
			margin-bottom: 0px;
			display: none;
		}
		.viewAllCollectionTextContainer {
			display: none;
			.viewAllCollectionText {

			}
		}
		.allCardsContainer {
			.par {
				display: flex;
				flex-direction: column;
				width: 100vw;
				margin-top: 0px;
				.imageCards {
					width: 175px;
					height: 240px;
					margin: auto;
					margin-bottom: 70px;
				}
				.textContainer {
					width: 280px;
					text-align: center;
					width: 230px;
					margin-left: 0px;
					margin: auto;
					.cardTitleName {
						font-size: 22px;
						font-family: $text-font2;
					}
					.cardDescription {
						font-size: 14px;

					}
				}
			}
			.impar {
				display: flex;
				flex-direction: column;
				width: 100vw;
				margin-top: 0px;
				.imageCards {
					width: 175px;
					height: 240px;
					margin: auto;
					margin-bottom: 70px;
				}
				.textContainer {
					width: 280px;
					text-align: center;
					width: 230px;
					margin-left: 0px;
					margin: auto;
					.cardTitleName {
						font-size: 22px;
						font-family: $text-font2;
					}
					.cardDescription {
						font-size: 14px;
						
					}
				}
			}
		}
	}

}