
.donateContainer {
 display: flex;
 flex-direction: column;
 text-align: center;
 margin-top: 0px;
  .donateText {
    font-family: $text-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $text-colour1;
  }
  .containerLinks {
    width: 80vw;
    display: flex; 
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 37px;
    .likeProject {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: $purple;
    }
    .donate-desktop {
      .linksDonate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .link {
        }
      }
    }
    .donate-mobile {
    }
  }
  .donateFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 39px;
    .cards{
      width: 130px;
      height: 36px;
      margin: auto;
    }
    .footerText {
      font-family: $text-font;
      padding-top: 20px;
      color: $text-colour1;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      // margin-bottom: 50px;
    }
  }
}


@include respond(phone) { 
  .donateContainer {
    margin-top: 70px;
    .donateText {
      width: 280px;
      margin: auto;
      font-size: 14px;
    }
    .containerLinks {
      .likeProject {
        font-size: 18px;
      }
      .donate-desktop {
        display: none;
      }
      .donate-mobile {
        .linksDonate {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .link {
          }
        }
      }
    }
    .donateFooter {
      margin-bottom: 140px;
      .cards {

      }
      .footerText {
        width: 280px;
        margin: auto;
        font-size: 14px;
        // margin-bottom: 50px;
      }
    }
  }
}


@include respond(tabletmini) { 
  .donateContainer {
    margin-top: 70px;
    .donateText {
      width: 280px;
      margin: auto;
      font-size: 14px;
    }
    .containerLinks {
      .likeProject {
        font-size: 18px;
      }
      .donate-desktop {
        display: none;
      }
      .donate-mobile {
        .linksDonate {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .link {
          }
        }
      }
    }
    .donateFooter {
      margin-bottom: 140px;
      .cards {

      }
      .footerText {
        width: 280px;
        margin: auto;
        font-size: 14px;
        // margin-bottom: 50px;
      }
    }
  }
}


@include respond(tablet) { 
  .donateContainer {
    margin-top: 70px;
    .donateText {
      width: 560px;
      margin: auto;
      font-size: 16px;
    }
    .containerLinks {
      .likeProject {
        font-size: 22px;
      }
      .donate-mobile {
        display: none;
      }
      .donate-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .donateFooter {
      margin-bottom: 140px;
      .cards {

      }
      .footerText {
        width: 560px;
        margin: auto;
        font-size: 16px;
        // margin-bottom: 50px;
      }
    }
  }
}



@include respond(desktop) { 
  .donateContainer {
    margin-top: 80px;
    .donateText {
      width: 760px;
      margin: auto;
      font-size: 16px;
    }
    .containerLinks {
      .likeProject {
        font-size: 22px;
      }
      .donate-mobile {
        display: none;
      }
      .donate-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
      }
    }
    .donateFooter {
      .cards {

      }
      .footerText {
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}





