
.mainContainerHome {
  display: flex;
	flex-direction: row;
	justify-content: center;
	height: 90vh;
	align-items: center;
	.imageContainer {
		display: flex;
		width: 60%;
		margin-left: 88px;
		height: 90vh;
		.frontImagesHome {
			width: 600px;
			height: 600px;
		}
	}
	.textContainer {
		display: flex;
		flex-direction: column;
		margin-right: 96px;
		width: 40%;
		text-align: right;
		.textDescription {
			font-size: 18px;
			text-align: right;
			color: $text-colour1;
			font-family: $text-font;
			font-style: normal;
			font-weight: normal;
			line-height: 26px;
			display: flex;
			align-items: center;
			text-align: right;

		}
		.textDescriptionBContainer{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 41px;
			.textDescriptionBContainerTexts {
				display: flex;
				flex-direction: column;
				.textDescriptionB {
					color: $yellow;
					font-family: $text-font;
					font-style: normal;
					font-weight: 500;
					font-size: 22px;
					line-height: 22px;
					align-items: center;
					margin-right: 15px;
				}
			}
			img {
				width: 75px;
				height: 75px;
			}
		}
		.buttonMainContainer {
			display: flex;
			justify-content: flex-end;
			.buttonContainer {
				margin-top: 10px;
				display: flex;
				justify-content: center;
				margin-top: 41px;
				width: 180px;
				height: 44px;
				background: $violet;
				border-radius: 60px;
				align-items: center;
				box-shadow: 0px 4px 10px rgba(116, 78, 153, 0.2);
				color: $white;
				font-size: 20px;
				font-style: normal;
				font-weight: bold;
				font-family: $text-font;
				left: 0%;
				right: 0%;
				top: 0%;
				bottom: 0%;
				.linkHome {
					color: $white;
				}
			}	
		}
	}
}

  @include respond(phone) {
	.mainContainerHome {
		height: auto;
		display: flex;
    flex-direction: column;
		.imageContainer {
			width: 100%;
			margin-left: 0px;
			margin-bottom: 0px;
			height: 350px;
			.frontImagesHome{
				width: 290px;
				height: 290px;
				margin: auto;
			}
		}
		.textContainer {
			margin-right: 0px;
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
			.textDescription {
				font-family: $text-font;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				display: flex;
				align-items: center;
				text-align: center;
			}
			.textDescriptionBContainer {
				margin-top: 0px;
				justify-content: center;
				.textDescriptionBContainerTexts {
					.textDescriptionB {
						font-family: $text-font;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 13px;
						display: flex;
						align-items: center;
						text-align: center;
						display: inline;
					}
				}
				img {
					display: none;
				}
			}
			.buttonMainContainer {
				margin-bottom: 130px;
				display: flex;
				justify-content: center;
				.buttonContainer {
					margin-top: 20px;
					.linkHome {

					}
				}
			}
		}
	}
}


@include respond(tabletmini) {
	.mainContainerHome {
		height: auto;
		display: flex;
    flex-direction: column;
		.imageContainer {
			width: 100%;
			margin-left: 0px;
			margin-bottom: 0px;
			height: 350px;
			.frontImagesHome{
				width: 320px;
				height: 320px;
				margin: auto;
			}
		}
		.textContainer {
			margin-right: 0px;
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
			.textDescription {
				font-family: $text-font;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				display: flex;
				align-items: center;
				text-align: center;
			}
			.textDescriptionBContainer {
				margin-top: 0px;
				justify-content: center;
				.textDescriptionBContainerTexts {
					.textDescriptionB {
						font-family: $text-font;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 23px;
						display: flex;
						align-items: center;
						text-align: center;
						display: inline;
					}
				}
				img {
					display: none;
				}
			}
			.buttonMainContainer {
				margin-bottom: 130px;
				display: flex;
				justify-content: center;
				.buttonContainer {
					margin-top: 20px;
					.linkHome {

					}
				}
			}
		}
	}
}

@include respond(tablet) {
	.mainContainerHome {
		height: auto;
		display: flex;
    flex-direction: column;
		.imageContainer {
			width: 100%;
			margin-left: 0px;
			margin-bottom: 80px;
			height: 350px;
			.frontImagesHome{
				width: 420px;
				height: 420px;
				margin: auto;
			}
		}
		.textContainer {
			margin-right: 0px;
			width: 480px;
			padding-left: 30px;
			padding-right: 30px;
			.textDescription {
				font-family: $text-font;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 20px;
				display: flex;
				align-items: center;
				text-align: center;
				margin-bottom: 40px;
			}
			.textDescriptionBContainer {
				margin-top: 0px;
				justify-content: center;
				.textDescriptionBContainerTexts {
					.textDescriptionB {
						font-family: $text-font;
						font-style: normal;
						font-weight: 500;
						font-size: 22px;
						line-height: 23px;
						display: flex;
						align-items: center;
						text-align: center;
						display: inline;
					}
				}
				img {
					display: none;
				}
			}
			.buttonMainContainer {
				margin-bottom: 130px;
				display: flex;
				justify-content: center;
				.buttonContainer {
					margin-top: 20px;
					.linkHome {

					}
				}
			}
		}
	}
}