

.mainContainerShuffle {
  .containerTitleShuffle {
    margin-top: 100px;
    .pickACard {
      font-family: $text-font;
      color: $violet;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      justify-content: center;
    }
  }
  .cardsContainerShuffle {
    .backSideContainer {  
      display: flex; 
      justify-content: center;
      margin-top: 36px;
      .card {
        width: 220px;
        height: 320px;
        margin: 26px;
        border-radius: 10px;
        box-shadow: 20px 20px 30px rgba(212, 212, 212, 0.8);
      }
      #one{
        animation: MoveCard1 9s;
        animation-iteration-count: infinite;
      }
      
      #two {
        animation: MoveCard2 9s;
        animation-iteration-count: infinite;
      }
      
      #three{
        animation: MoveCard3 9s;
        animation-iteration-count: infinite;
      }
    }
  }

.cardSelectedContainerShuffle {
  display: flex;
  justify-content: center;
}

.buttonActiveContainer {
  display: flex;
  justify-content: center;
  .buttonActive {
    border: none;
    align-items: center;
    width: 180px;
    height: 44px;
    background: $violet;
    border-radius: 60px;
    margin: auto;
    font-size: 20px;
    font-family: $text-font;
    display: flex;
    color: $white;
    font-weight: bold;
    line-height: 29px;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(116, 78, 153, 0.2);
  }
}
  .buttonInactive {
    display: none;
  }
}

.mainContainerBack {
  display: flex;
  flex-direction: row;
}

@keyframes MoveCard1 {
	0% { transform: translateY(0px) rotate(-5.95deg); }
	40% { transform: translateY(40px) rotate(-4deg); }
	100% { transform: translateY(0px) rotate(-5.95deg); }
}

@keyframes MoveCard2 {
	0% { transform: translateY(0px) rotate(3.22deg); }
	40% { transform: translateY(40px) rotate(2.22deg); }
	100% { transform: translateY(0px) rotate(3.22deg); }
}

@keyframes MoveCard3 {
	0% { transform: translateY(0px) rotate(-1.69deg); }
	40% { transform: translateY(40px) rotate(-2.69deg); }
	100% { transform: translateY(0px) rotate(-1.69deg); }
}

@include respond(phone) {
  .mainContainerShuffle {
    height: 80vh;
    .containerTitleShuffle {
      margin-top: 70px;
      .pickACard {
        font-size: 20px;

      }
    }
    .cardsContainerShuffle {
      width: 100vw;
      height: 300px;
      margin-top: 90px;
      .backSideContainer {

        .card {
          margin: 0;
          height: 100%;
        }
      }
      .cardSelectedContainerShuffle {

      }
    }
    .buttonActiveContainer {
      margin-top: 360px;
      .buttonActive {
        border: none;
      }
      .buttonInactive {

      }
    }
  }
}

@include respond(tabletmini) {
  .mainContainerShuffle {
    height: 80vh;
    .containerTitleShuffle {
      margin-top: 70px;
      .pickACard {
        font-size: 20px;

      }
    }
    .cardsContainerShuffle {
      width: 100vw;
      height: 300px;
      .backSideContainer {
        height: 190px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .card {
          margin: 0;
          height: 100%;
          width: auto;
        }
      }
      .cardSelectedContainerShuffle {

      }
    }
    .buttonActiveContainer {
      margin-top: 360px;
      .buttonActive {
        border: none;
      }
      .buttonInactive {

      }
    }
  }
}


@include respond(tablet) {
  .mainContainerShuffle {
    height: 80vh;
    .containerTitleShuffle {
      margin-top: 70px;
      .pickACard {
        font-size: 20px;

      }
    }
    .cardsContainerShuffle {
      .backSideContainer {
        display: flex;
        justify-content: space-around;
        .card {
          margin: 0;
        }
      }
      .cardSelectedContainerShuffle {

      }
    }
    .buttonActiveContainer {
      margin-top: 20px;
      margin-bottom: 170px;
      .buttonActive {
        border: none;
      }
      .buttonInactive {

      }
    }
  }
}





