
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

li {
  list-style-type: none;
  margin: 10px;
  background-color: #8FE4EF;
  padding: 2px 15px;
  border-radius: 60px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  /* background-color: #000000; */
  background-color: white;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #DBD6E0;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;  
}

.footerUs {
  color: #333333;
  font-size: 14px;
}

.footerUsA {
  color: #583976;
  font-size: 14px;
}

.navMenuLinks {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: white;
}


@media only screen and (max-width: 425px) {
  .list-containe {
    display: flex;
    background-color: pink;
  }
  ul {
    display: flex;
    justify-content: space-around;
    /* justify-content: flex-start; */
    flex-direction: column;
    width: 40%;
    margin: auto;
    /* left: 0;
    right: 0; */
    text-align: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* padding-right: 30px; */
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding-bottom: 15px;
  }

  .footerUs {
    text-align: center;
    margin: 0;
  }
}