.mainContainerApp {
  .mainContainerAppNavLinks {
    display: flex;
    flex-direction: column;
    .logoContainer {
      .logo {
        width: 345px;
        height: 51px;
      }
    }
    .listContainer {
      .desktop-view {
        ul {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          list-style: none;
          align-items: center;
          margin: 30px;
          .navMenuLinks {
            font-size: 18px;
            color: $purple;
            font-family: $text-font;
            font-style: normal;
            font-weight: bold;
            line-height: 26px;
            margin-left: 52px;
            text-decoration: none;
          }
          .activeLink {
            font-size: 18px;
            color: $yellow;
            font-family: $text-font;
            font-style: normal;
            font-weight: bold;
            line-height: 26px;
            margin-left: 52px;
          }
          .localizationInnerContainer {
            margin-left: 52px;
            .localizationButton {
              background-color: transparent;
              border-style: none;
              color: $grey-dark;
              line-height: 26px;
              font-family: $text-font;
              font-size: 18px;
              outline: none;
              &:hover {
                color: $purple;
                outline: none;
              }
            }
            .localizationDiv {
              color: $grey-dark;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: $background;
    .footerUs {
      margin-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $text-colour1;
      .footerUsA {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $purple;
      }
    }
  }
}

.logoContainer {
}

.otherLinks {
  display: flex;
  margin-right: 54px;
}

@include respond(phone) {
  .mainContainerApp {
    .mainContainerAppNavLinks {
      display: flex;
      flex-direction: column;
      .listContainer {
        .desktop-view {
          display: none;
        }
        .mobile-view {
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          padding-right: 14px;
          padding-top: 20px;
          .logoContainerMobile {
            display: flex;
            justify-content: center;
            background-color: $white;
            margin-bottom: 12px;
            z-index: 2000;
            list-style: none;
            .linkLogoMobile {
              .navMenuLogoMobile {
                margin-left: 0px;
                img {
                  width: 172px;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      display: none;
    }
    .footerMobile {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: $background;
      .footerUsMobile {
        margin-bottom: 0px;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        text-align: center;
        color: $text-colour1;
        .footerUsAMobile {
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          color: $purple;
        }
      }
    }
  }
}

@include respond(tabletmini) {
  .mainContainerApp {
    .mainContainerAppNavLinks {
      display: flex;
      flex-direction: column;
      .listContainer {
        .desktop-view {
          display: none;
        }
        .mobile-view {
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          padding-right: 14px;
          padding-top: 20px;
          .logoContainerMobile {
            display: flex;
            justify-content: center;
            background-color: $white;
            margin-bottom: 12px;
            z-index: 2000;
            list-style: none;
            .linkLogoMobile {
              .navMenuLogoMobile {
                margin-left: 0px;
                img {
                  width: 250px;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      display: none;
    }
    .footerMobile {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: $background;
      .footerUsMobile {
        margin-bottom: 0px;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        text-align: center;
        color: $text-colour1;
        .footerUsAMobile {
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          color: $purple;
        }
      }
    }
  }
}

@include respond(tablet) {
  .mainContainerApp {
    .mainContainerAppNavLinks {
      display: flex;
      flex-direction: column;
      .listContainer {
        .desktop-view {
          ul {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            list-style: none;
            align-items: center;
            margin: 30px;
            padding-right: 0px;
            .navMenuLinks {
              font-size: 18px;
              color: $purple;
              font-family: $text-font;
              font-style: normal;
              font-weight: bold;
              line-height: 26px;
              margin-left: 0px;
              text-decoration: none;
            }
            .activeLink {
              font-size: 18px;
              color: $yellow;
              font-family: $text-font;
              font-style: normal;
              font-weight: bold;
              line-height: 26px;
            }
            .localizationInnerContainer {
              margin-left: 0px;
              .localizationButton {
                background-color: transparent;
                border-style: none;
                color: $grey-dark;
                line-height: 26px;
                font-family: $text-font;
                font-size: 18px;
                outline: none;
                &:hover {
                  color: $purple;
                  outline: none;
                }
              }
              .localizationDiv {
                color: $grey-dark;
              }
            }

            .otherLinks {
              margin-right: 0px;
              .links {
                margin-left: 20px;
              }
            }
          }
        }
        .mobile-view {
          display: none;
        }
      }
    }
    .footer {
      display: none;
    }
    .footerMobile {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: $background;
      .footerUsMobile {
        margin-bottom: 0px;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        text-align: center;
        color: $text-colour1;
        .footerUsAMobile {
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          color: $purple;
        }
      }
    }
  }
}

@include respond(desktop) {
  .mainContainerApp {
    .mainContainerAppNavLinks {
      display: flex;
      flex-direction: column;
      .listContainer {
        .desktop-view {
        }
        .mobile-view {
          display: none;
          .logoContainerMobile {
            .linkLogoMobile {
              .navMenuLogoMobile {
                img {
                }
              }
            }
          }
        }
      }
    }
    .footer {
    }
    .footerMobile {
      display: none;
      .footerUsMobile {
        .footerUsAMobile {
        }
      }
    }
  }
}
