
.burgerMainContainer {
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  position: relative;
  .iconBurgerMenu {
    img {
      width: 20px;
      height: 20px;
    }
    position: relative;
    cursor: pointer;
  }
  .linksBurgerMenuContainer {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    list-style: none;
    left: 600;
    top: 30px;
    height: 40vh;
    z-index: 1000;
    justify-content: space-around;
    background-color: white;
    .linksBurgerMenu {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $grey;
      width: 85%;
      .navMenuLinksBurger {
        font-size: 18px;
        color: $purple;
        font-family: $text-font;
        font-style: normal;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 10px;
      }
      .activeLinkBurger {
        font-size: 18px;
        color: $yellow;
        font-family: $text-font;
        font-style: normal;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 10px;
      }
      .localizationInnerContainer {
        margin-bottom: 10px;
        .localizationButton {
          background-color: transparent;
          border-style: none;
          color: $grey-dark;
          line-height: 26px;
          font-family: $text-font;
          font-size: 18px;
          &:hover {
            color: $purple;
            outline: none;
          }
        }
        .localizationDiv {
          color: $grey-dark;
        }
      }
    }
  }

  .linksBurgerMenuContainerInactive {
    z-index: 1000;
    position: absolute;
    left: -800px;
    top:30px;
    height: 40vh;
    display: flex;
    width: 100vw;
    transition: all .5s ease-in-out;
    flex-direction: column;
    list-style: none;
    background-color: $white;
    justify-content: space-around;
    .linksBurgerMenu {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $grey;
      width: 85%;
      .navMenuLinksBurger {
        font-size: 18px;
        color: $purple;
        font-family: $text-font;
        font-style: normal;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 10px;
      }
      .activeLinkBurger {
        font-size: 18px;
        color: $yellow;
        font-family: $text-font;
        font-style: normal;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 10px;
      }
      .localizationInnerContainer {
        margin-left: 0px;
        .localizationButton {
          background-color: transparent;
          border-style: none;
          color: $purple;
          line-height: 26px;
          font-family: $text-font;
          font-size: 18px;
          outline: none;
        }
        .localizationDiv {
          color: $grey-dark;
        }
      }
    }
  }
}

@include respond(tabletmini) {
  .burgerMainContainer {
    background-color: $white;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    position: relative;
    .iconBurgerMenu {
      img {
        width: 22px;
        height: 22px;
      }
      position: relative;
      cursor: pointer;
    }
    .linksBurgerMenuContainer {
      position: absolute;
      width: 100vw;
      display: flex;
      flex-direction: column;
      list-style: none;
      left: 600;
      top: 30px;
      height: 40vh;
      z-index: 1000;
      justify-content: space-around;
      background-color: white;
      .linksBurgerMenu {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $grey;
        width: 85%;
        .navMenuLinksBurger {
          font-size: 18px;
          color: $purple;
          font-family: $text-font;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 10px;
        }
        .activeLinkBurger {
          font-size: 18px;
          color: $yellow;
          font-family: $text-font;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 10px;
        }
        .localizationInnerContainer {
          margin-bottom: 10px;
          .localizationButton {
            background-color: transparent;
            border-style: none;
            color: $purple;
            line-height: 26px;
            font-family: $text-font;
            font-size: 18px;
            outline: none;
          }
          .localizationDiv {
            color: $purple;
          }
        }
      }
    }
  
    .linksBurgerMenuContainerInactive {
      z-index: 1000;
      position: absolute;
      left: -1800px;
      top: 51px;
      height: 40vh;
      display: flex;
      width: 100vw;
      transition: all .5s ease-in-out;
      flex-direction: column;
      list-style: none;
      background-color: $white;
      justify-content: space-around;
      .linksBurgerMenu {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $grey;
        width: 85%;
        .navMenuLinksBurger {
          font-size: 18px;
          color: $purple;
          font-family: $text-font;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 10px;
        }
        .activeLinkBurger {
          font-size: 18px;
          color: $yellow;
          font-family: $text-font;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 10px;
        }
        .localizationInnerContainer {
          margin-bottom: 10px;
          .localizationButton {
            background-color: transparent;
            border-style: none;
            color: $grey-dark;
            line-height: 26px;
            font-family: $text-font;
            font-size: 18px;
            &:hover {
              color: $purple;
              outline: none;
            }
          }
          .localizationDiv {
            color: $grey-dark;
          }
        }
      }
    }
  }
}
