
.buttonMainContainer {
  .cardButton {
    width: 82px;
    height: 28px;
    margin-left: 18px;
    margin-bottom: 20px;
    background-color: $violet;
    border-radius: 30px;
    border: none;
    a {
      color: $purple;
      font-family: $text-font2;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
  }
}


@include respond(phone) { 
  .buttonMainContainer {
    margin-left: 5px;
    margin-right: 5px;
    .cardButton {
      margin-left: 0px;
      width: 114px;
      height: 32px;
    }
  }
}



