
.buttonMainContainer {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: center;
  // width: 100%;
  // background-color: pink;
  .cardButton {
    width: 82px;
    height: 28px;
    margin-left: 18px;
    margin-bottom: 20px;
    background-color: #E7D8F1;
    border-radius: 30px;
    border: none;
      a {
        color: $purple;
        font-family: $text-font2;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
      }
  }
}



