
.mainContainerCard{
  display: flex;
  align-items: center;
  .cardContainer {
    margin-right: 100px;
      .cardSelected {
        width: 275px;
        height: 375px;
        box-shadow: 0px 4px 10px rgba(116, 78, 153, 0.2);
        transform: rotate(-2.62deg);
      }
    }
  .textContainerCard {
    display: flex;
    width: 480px;
    flex-direction: column;
    text-align: left;

    .textTitleCard {
      color: $text-colour2;
      font-family: $text-font2;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
    }
    .textDescriptionCard {
      font-family: $text-font;
      color: $text-colour1;
      font-family: Jost;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      display: flex;
      align-items: center;
      margin-top: 26px;
    }
  }
}


@include respond(phone) {
  .mainContainerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardContainer {
      margin-right: 0px;
      margin-bottom: 60px;
      .cardSelected {
        width: 150px;
        height: 220px;
      }
    }
    .textContainerCard {
      height: 500px;
      width: 285px;
      .textTitleCard {
        font-size: 22px;
        text-align: center;
      }
      .textDescriptionCard {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}


@include respond(tabletmini) {
  .mainContainerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardContainer {
      margin-right: 0px;
      margin-bottom: 60px;
      .cardSelected {
        width: 150px;
        height: 220px;
      }
    }
    .textContainerCard {
      height: 500px;
      width: 285px;
      .textTitleCard {
        font-size: 22px;
        text-align: center;
      }
      .textDescriptionCard {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}


@include respond(tablet) {
  .mainContainerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardContainer {
      margin-right: 0px;
      margin-bottom: 60px;
      .cardSelected {
        width: 300px;
        height: 400px;
      }
    }
    .textContainerCard {
      height: 300px;
      width: 400px;
      .textTitleCard {
        font-size: 22px;
        text-align: center;
      }
      .textDescriptionCard {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}