
.wrapperContainer {
  height: 90vh;
  padding-top: 10px;
  font-family: $text-font;
}


@include respond(phone) {
  .wrapperContainer {
    height: 100vh;
    // margin: 10px;
  }
}
@include respond(tabletmini) {

}
@include respond(tablet) {

  // background-color: indianred;
}
@include respond(desktop) {

}
