

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Jost', sans-serif; */
  /* font-family: 'Milonga', cursive; */


.donateContainer {
 display: flex;
 flex-direction: column;
 text-align: center;
 /* margin: auto; */
 height: 80vh;
}

.containerLinks {
  display: flex; 
  justify-content: space-around;
  margin-bottom: 50px;
  padding-bottom: 150px;
}

.link {
  /* margin: 30px; */
}

.stars {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color:#CBABE3;
}

.donate {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  color: #583976;
}

.footerText {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color:#333333;
}

.footerTextThanks {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color:#CBABE3;
}